{
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "parser": "typescript",
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": true,
  "semi": true,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "auto",
  "importOrder": [
    "^react(.*)",
    "^@tanstack/(.*)$",
    "^axios(.*)",
    "^@/pages/(.*)$",
    "^@/components/(.*)$",
    "^@/hooks/(.*)$",
    "^@/apis/(.*)$",
    "^@/utils/(.*)$",
    "^@/router/(.*)$",
    "^@/types/(.*)$",
    "^@/constants/(.*)$",
    "^@/assets/(.*)$",
    "^@/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,

  "overrides": [
    {
      "files": "*.yml",
      "options": {
        "parser": "yaml"
      }
    }]
}
